h1 {
   width: 100%;
   margin-top: 0.5em;
   text-align: center;
   /*color: #44a;*/
   font-size: 40pt;
}

#content {
    width:750px;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    height: 100%;
    min-height: 400px;
    padding-top:1px;
    text-align: center;
    border-left: #a9a9a9   double medium;
    border-right: #a9a9a9  double  medium;
    border-bottom: #a9a9a9 double  medium;
    border-bottom-left-radius:  30px;
    border-bottom-right-radius: 30px;
}

p {
    font-size: 40px;
}

body{
    background-image: url(../images/bright_squares.png);
    background-repeat: repeat;
    margin: 0;
    font-family: teeshirt,serif;
}


